/* Main Heading */
.ui-x p{
	font-size: 20px;
	line-height: 28px;
	text-transform: uppercase;
	text-align: center;
	padding: 12px 18px;
	margin: 0px;
	background: #fcfcfc;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}
.ui-x p > a{
	color: #888;
}
/* Item */
.ui-x a.ui-item{
	display: block;
	background:#fff;
	padding: 8px 18px 12px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.ui-x a.ui-item:last-child{	
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}
.ui-x a.ui-item:hover{
	background: #fcfcfc;
}
.ui-x a.ui-item.active, .ui-x a.ui-item.active:hover{
	background: #fcfcfc;
}
/* Icon */
.ui-x a.ui-item i{
	font-size: 15px;
	width: 34px;
	height: 34px;
	line-height:32px;
	float: left;
	border: 1px solid #ddd;
	border-radius: 100%;
	text-align: center;
	margin: 7px 0px 0px;
}
.ui-x a.ui-item.active i{
	color: #fff;
	border: 0px;
}
.ui-x a.ui-item.active i:before {
  content: "\f00c";
  font-size: 13px;
  line-height: 32px;
}
/* Details */
.ui-x a.ui-item span.ui-details{
	margin-left: 50px;
	display: block;
}
/* Heading */
.ui-x a.ui-item span.ui-details span{
	display: block;
	font-size: 15px;
	line-height: 22px;
	margin-top: 3px;
	color: #212529;
	font-weight: 500;
}
/* Paragraph */
.ui-x a.ui-item span.ui-details strong{
	display: block;
	font-size: 14px;
	line-height: 23px;
	color: #6c757d !important;
	font-weight: 400;
}
html {
	position: relative;
	min-height: 100%;
}
body {
	/* Margin bottom by footer height */
	margin-bottom: 60px;
}
#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
}

