{% include 'parts/header.html' %}
{% include 'parts/navigation.html' %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <div class="row">
                <div class="col-12">
                    <div class="alert alert-success">
                        Your password has been set
                    </div>
                    <a href="{% url 'site:authorization' %}">Sign In Here</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>
{% include 'parts/footer.html' %}